
/* TODO: implement the WeatherCard design */
/* Feel free to add more CSS classes as needed */
.weather_card.city {
height:auto;
margin-right: 10px;

}
.weather_card h3{
    color: #629db1;
}

.weather_temp{
    display: flex;
}